{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %} JaBrews - {{ customer.firstname }} {{ customer.lastname }}{% endblock %} <!--customer.name bc customer is the key in context-->

{% block maincontent %}
<h2>{{ customer.firstname }} {{ customer.lastname }}</h2>

<ul>
    <li>Name: {{ customer.firstname }} {{ customer.lastname }}</li>
    <li>Address: {{ customer.address }}, {{ customer.city }} </li> <!-- calling method same as calling attribute-->
    <!-- have to add  orders later -->

    <h3>Orders Information</h3>
    {% for order in order %}
			
                <h4>Order Number: {{ order.id }}</h4>
                <ul>
                    <li>Quantity & Food: {{ order.quantity }} {{ order.food.name }} </li>
                    <li>Date & Time: {{ order.orderdatetime }}</li>
                    <li>Total: Php {% widthratio order.food.price 1 order.quantity%}</li>
                </ul>
	{% endfor %}
</ul>
{% endblock %}