{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %} GrubFood - Customer List {% endblock %}

{% block maincontent %}
<h2>Customers List</h2>

<ul>
    {% for customer in customerslist %}
    <li>Name: {{customer.firstname}} {{customer.lastname}} | <a href="{% url 'webkiosk:customer-detail' customer.id%}"> More Info </a> | <a href="{% url 'webkiosk:customer-update' customer.id%}">Edit</a> | <a href="{% url 'webkiosk:customer-delete' customer.id %}">Delete</a> </li>
    {% endfor %}
</ul>

{% endblock %}