body {
    background-color: antiquewhite;
}

.hello-msg{
    font-size: 18px;
    color: antiquewhite;
    margin-right: 20px;
  }


.center {
    width:100%;
}

#content {
    margin: 50px;
}

footer {
    margin:50px;
    background-color: none;
}

h1 {
    font-size: 50px;
}

#row {
    margin:10px;
}
